ul li a{
    color: var(--WT1);
    font-family: var(--NORMAL);
    text-decoration: none;
    list-style-type: none;
    padding: 0;
  }
  ul li{
    display: inline-block;
    margin-left: 20px;
  }
  ul li:hover{
    transform: scale(1.05);
  }
  ul{
    text-align: center;
  }